#top-pst-wd {
  display: flex;
  position: relative;

  #info-content-pst {
    position: absolute;
    left: calc(150px + 16px);
    bottom: 0;

    #play-pst {
      cursor: pointer;
    }
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
  }

  #tp-txt-pst {
    margin-bottom: 10px;
    p:first-of-type {
      font-size: 14px;
      color: var(--spanish-gray);
    }
    span {
      font-size: 24px;
      font-weight: 600;
    }
    p:nth-of-type(2) {
      font-size: 12px;
      font-family: var(--poppins);
    }
  }

  button {
    width: 144px;
    height: 51px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--main-color);

    img {
      width: 30px;
      height: 30px;
    }
  }

}

#oder-by-pst {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 140px;
  right: 65px;
}

#pst-song-list {
  margin-top: 30px;

  li {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &, #lft-sng-pst-itm, #rght-sng-pst-itm {
      display: flex;
    }
    &:hover {
      background-color: var(--main-color);
      #rght-sng-pst-itm img {opacity: 100;}
    }
    &.active {
      background-color: var(--main-color);
      #rght-sng-pst-itm img {opacity: 100;}
    }

    #lft-sng-pst-itm {
      align-items: center;
      gap: 12px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 8px;
      }

      div {
        p {
          font-size: 14px;
          font-family: var(--poppins);
        }
      }
    }

    #rght-sng-pst-itm {
      align-items: center;
      margin-right: 30px;
      gap: 33px;

      &, div {display: flex;}
      img {
        opacity: 0;
        width: 20px;
        height: 20px;
        transition: all .2s ease;
      }
      div {
        gap: 11px;
      }
    }
  }
}